//---------------------------------------------------------------------------
//
// Name:        projektApp.rc
// Author:      Tezi
// Created:     14.12.2016 11:36:29
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
